<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#startupNavbar">
      &#9776;
      </button>
      <a class="navbar-brand" href="#">Simple &amp; Elegant Solution</a>
      <div class="collapse navbar-toggleable-xs" id="startupNavbar">
          <ul class="nav navbar-nav pull-sm-right">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#feature-two">Contact</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/blog">Blog</a>
              </li>   
          </ul>
      </div>
  </nav>
   

  {{ content }}
  
  <section id="feature-two" class="feature-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Get in touch</h2><br />
                    <form action="//formspree.io/aann9007@gmail.com" method="POST" role="form">
                      <div class="form-group">
                        <label for="InputName1">Your Name</label>
                        <input type="text" name="name" id="InputName1" class="form-control">
                      </div>                    
                      <div class="form-group">
                        <label for="InputEmail1">Email address</label>
                        <input type="email" name="_replyto" id="InputEmail1" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="hidden" name="_subject" value="Github Contact" class="form-control">
                      </div>
                      <div class="form-group">
                        <label for="message1">Message</label>
                        <textarea name="message" id="message1" class="form-control" rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                    <br /><br />
                </div>
            </div>
        </div>
    </section>


  <footer id="main-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h6>&copy; 2048 Simple &amp; Elegant Solution</h6>
              </div>

              <div class="col-md-4">
                  <h6>About this blog</h6>
                  <p>This blog is intended for contents about AI, to sum up some interesting topics while learning about web development and machine learning.</p>
              </div>

              <div class="col-md-4">
                  <h6>Interesting links</h6>
                  <a href="http://thebrain.mcgill.ca/index.php" class="btn btn-success" role="button" target="_blank">The brain</a>
                  <br/>
                  <a href="http://www.cnl-ntu.com/people" class="btn btn-danger" role="button" target="_blank">My dream</a>
              </div>
          </div>
      </div>
  </footer> 


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>
